.App {
  text-align: left;
}

h3 {
  padding: 1rem;
}

.box {
  background-color: #222;
  width: 500px;
  height: 530px;
  margin: auto;
  margin-bottom: auto;
  border: 1px solid #000;
  border-radius: 9px;
}

.message {
  border: 2px solid #222;
  border-radius: 9px;
  font-size: 12px;
  font-family: Arial;
  font-style: bold;
  margin: 10px 20px 5px 20px;
  padding: 7px;
  background-color: dimgray;
}

.msg-info {
  font-family: Arial;
  font-size: 10px;
  opacity: 50%;
}

.me-auto {
  margin: 10px 20px 5px 20px;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom left, #ff33cc 0%, #0000ff 100%);
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
